* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100%;
}

header {
    width: 100%;
    height: 5em;
    z-index: 2;
    position: relative;
}

h2, p {
    margin: 2rem 0;
}

.HeadFlex {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    background-color: #131b29;
    position: relative;
}


.HeadLogo {
    width: 20%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.HeadLogo h1 {
    margin: 0;
    font-size: 1.6em;
}

.HeadNav ul {
    all: unset;
}

.HeadNav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0.2s 0.3s; /*change after the size immediately*/
}

.HeadNav a:hover {
    background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.HeadNav {
    width: 75%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.HeadNav a {
    margin: 1em;
}

.Container {
    min-height: 100vh;
    max-height: fit-content;
    padding: 4rem;
}

.Green {
    background-color: #C2F0C2;
}

.Orange {
    background-color: #FFD8B2;
}

.Red {
    background-color: #FFCCCC;
}

th {
    padding: 1rem;
}

td {
    padding: 0.6rem;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 3em;
    width: 100%;
}

footer {
    color: white;
    padding: 2%;
    background-color: #212529;
    width: 96%;
}

footer h1 {
    font-size: 1rem;
}

/* ----------------HAMBURGUER MENU MOBILE----------------- */

.HeadHamburguer {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.hamburguer {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;

    transition: all 0.1s ease-in-out;
    z-index: 1;
}

.hamburguer:hover {
    transform: scale(1.1);
}

.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburguer.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburguer.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburguer.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 1;
    background-color: #131b29;
    padding-top: 120px;
    transition: 0.5s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1a2d4e;

    color: white;
    text-decoration: none;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a:hover {
    background-color: #204078;
}

@media (min-width: 768px) {
    
    .mobile-nav {
        display: none;
    }

    .hamburguer {
        display: none;
    }
}

@media (max-width: 768px) {
    .HeadNav a {
        display: none;
    }
}

/* --------------------------------------------- */


@media (max-width: 768px) {
    .HeadFlex {
        max-width: max-content;
        min-width: 100vw;
    }

    .HeadLogo {
        width: 70%;
    }

    .HeadHamburguer {
        width: 30%;
    }

    .LandingContainer {
        display: flex !important;
        flex-direction: column !important;
        height: fit-content !important;
    }

    .circle, .circle2 {
        display: none !important;
    }

    .TitleFloatLeft {
        width: 100% !important;
        padding: 2rem !important;
        padding-top: 0 !important;
        margin-bottom: 4rem !important;
    }

    .TitleFloatLeft h1 {
        margin: 0 !important;
        font-size: 4em !important;
        margin-bottom: 2rem !important;
    }

    .ImgContainer {
        width: 100% !important;
    }

    .CardContainer {
        display: flex !important ;
        flex-direction: column !important;
        width: 100% !important;
        height: fit-content !important;
    }

    .Cards {
        display: block !important;
        padding: 3rem 2rem !important;
    }

    .Card {
        width: 100% !important;
        margin-bottom: 4rem !important;
    }

    .Card:last-of-type {
        margin-bottom: 2rem !important;
    }
    
    .AboutUsContainer {
        display: flex !important;
        flex-direction: column !important;
        height: fit-content !important;
    }
    
    .Map {
        width: 100% !important;
        padding-bottom: 2rem !important;
    }
    
    .Aboutus {
        width: 100% !important;
        padding-top: 2rem !important;
    }

    table {
        overflow-x: auto;
    }

    .foot {
        height: 12em !important;
        padding: 3em !important;
    }

    .foot h2 {
        font-size: 1.2rem !important;
        word-spacing: 0.5rem !important;
    }

}
