*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
input {
    all: unset;
}

body {
    background-color: rgb(240, 244, 250);
    background: rgb(33,37,41);
background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
    font-family: 'Outfit', sans-serif;
}


header {
    width: 100%;
    height: 5em;
    position: relative;
}

.HeadFlex {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    background-color: #000000;
    position: relative;
    height: 6em;
}


.HeadLogo {
    width: 20%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.HeadLogo h1 {
    margin: 0;
    font-size: 1.6em; 

    z-index: 2 !important;
}

.HeadNav ul {
    all: unset;
}

.HeadNav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0.2s 0.3s; /*change after the size immediately*/
}


.HeadNav a {
    margin: 1em;
}

.HeadNav a:hover {
    background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.HeadNav {
    width: 75%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content:center;
}


/* ----------------HAMBURGUER MENU MOBILE----------------- */

.HeadHamburguer {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

    z-index: 2 !important;
}

.hamburguer {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;

    transition: all 0.1s ease-in-out;
    z-index: 1;
}

.hamburguer:hover {
    transform: scale(1.1);
}

.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburguer.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburguer.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburguer.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;

    min-height: 100vh;
    display: block;
    z-index: 1;
    background-color: #131b29;
    padding-top: 120px;
    transition: 0.5s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1a2d4e;

    color: white;
    text-decoration: none;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a:hover {
    background-color: #204078;
}

@media (min-width: 768px) {
    
    .mobile-nav {
        display: none;
    }

    .hamburguer {
        display: none;
    }
}

@media (max-width: 768px) {
    .HeadNav a {
        display: none;
    }
}

/* --------------------------------------------- */
.container {
    display: flex;
    flex-direction: row;
}

.img-register {
    width: 40%;
    padding: 6rem;
}

.img-register img {
    width: 550px;
    height: 650px;
    transition: all 0.5s ease-in-out;
}

.img-register img:hover {
    filter: contrast(1.4);
}

.form-register {
    width: 60%;
    display: flex;
    height: fit-content;
}

.FormContainer {
    margin: 6rem;
    margin-top: 4rem;
    margin-left: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
    border-radius: 1rem;
    padding: 4rem;
    padding-top: 1.8rem;
    padding-bottom: 2.4rem;
    width: 90%;
    float: right;
    height: fit-content;
}


.form-flex {
    display: flex;
    flex-direction: column;
}

.centerTitle {
    justify-content: center;
    display: flex;
}

.form-flex input {
    border: solid 1px;
    padding: 0.6em;
    background-color: white;
    margin-top: 0.3em;
    margin-bottom: 1em;
    border-radius: 0.4em;
}

.separate-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.separate {
    width: 48%;
    display: flex;
    flex-direction: column;
}

form button {
    background-color: red;
    width: 100%;
    border-radius: 0.4em;
    border: none;
    color: white;
    margin-top: 0.5rem;
    padding: 0.8rem;
    transition: background-color 0.5ms ease-in-out;
    transition: all 0.5s ease-in-out;
}

form button:hover {
    background-color: rgb(216, 26, 26);
}


.foot {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 3em;
}

footer {
    color: white;
    padding: 2%;
    background-color: #212529;
    bottom: 0;
    width: 96%;
}

footer h1 {
    font-size: 1rem;
}


@media (max-width: 768px) {
    .HeadLogo {
        width: 70%;
    }

    .HeadHamburguer {
        width: 30%;
    }

    .container {
        flex-direction: column;
        width: 100vw;
        padding: 2rem;
    }

    .img-register {
        display: none;
    }

    .form-register {
        width: 100%;
    }

    .FormContainer {
        margin-top: 2rem !important;
        padding: 2rem !important;
    }

    .foot {
        padding: 3em !important;
        width: 100%;
        flex-direction: column;
    }

    .foot h2 {
        font-size: 1.2rem !important;
        word-spacing: 0.5rem !important;
    }

}
